@import url(//fonts.googleapis.com/css?family=Raleway:300,400,200,100,500,600);
@import "webfonts/onlinewebfonts.css";
.loader {
  z-index: 100;
  font-size: 25px;
  width: 1em;
  margin: 100px 50%;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #2171d8, 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.5), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.7), 1.8em -1.8em 0 0em #2171d8, 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.5), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.7), 2.5em 0em 0 0em #2171d8, 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.5), 2.5em 0em 0 0em rgba(33, 113, 216, 0.7), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.5), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.7), 0em 2.5em 0 0em #2171d8, -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.5), 0em 2.5em 0 0em rgba(33, 113, 216, 0.7), -1.8em 1.8em 0 0em #2171d8, -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.5), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.7), -2.6em 0em 0 0em #2171d8, -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.5), -2.6em 0em 0 0em rgba(33, 113, 216, 0.7), -1.8em -1.8em 0 0em #2171d8;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #2171d8, 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.5), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.7), 1.8em -1.8em 0 0em #2171d8, 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.5), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.7), 2.5em 0em 0 0em #2171d8, 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.5), 2.5em 0em 0 0em rgba(33, 113, 216, 0.7), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.5), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.7), 0em 2.5em 0 0em #2171d8, -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.2), -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.5), 0em 2.5em 0 0em rgba(33, 113, 216, 0.7), -1.8em 1.8em 0 0em #2171d8, -2.6em 0em 0 0em rgba(33, 113, 216, 0.2), -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.5), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.7), -2.6em 0em 0 0em #2171d8, -1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(33, 113, 216, 0.2), 1.8em -1.8em 0 0em rgba(33, 113, 216, 0.2), 2.5em 0em 0 0em rgba(33, 113, 216, 0.2), 1.75em 1.75em 0 0em rgba(33, 113, 216, 0.2), 0em 2.5em 0 0em rgba(33, 113, 216, 0.2), -1.8em 1.8em 0 0em rgba(33, 113, 216, 0.5), -2.6em 0em 0 0em rgba(33, 113, 216, 0.7), -1.8em -1.8em 0 0em #2171d8;
  }
}
.gis-icon {
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: 0px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=rdf],
.mime-icon[data-mimetype*=rdf] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -32px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=pdf],
.mime-icon[data-mimetype*=pdf] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -64px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=api],
.mime-icon[data-mimetype*=api] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -96px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=zip],
.mime-icon[data-mimetype*=zip] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -128px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=xls],
.mime-icon[data-mimetype*=xls] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -160px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=csv],
.mime-icon[data-mimetype*=csv] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -192px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=txt],
.mime-icon[data-mimetype*=txt] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -224px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=xml],
.mime-icon[data-mimetype*=xml] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -256px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=json],
.mime-icon[data-mimetype*=json] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -288px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=html],
.mime-icon[data-mimetype*=html] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -320px -62px;
  vertical-align: middle;
  display: inline-block;
}
.mime-icon[data-mimetype=wfs],
.mime-icon[data-mimetype*=wfs] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: 0px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon[data-mimetype=wms],
.mime-icon[data-mimetype*=wms] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -32px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon[data-mimetype=gml],
.mime-icon[data-mimetype*=gml] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -64px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon[data-mimetype=kml],
.mime-icon[data-mimetype*=kml] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -96px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon[data-mimetype=geojson],
.mime-icon[data-mimetype*=geojson] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -128px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
.mime-icon[data-mimetype=wmts],
.mime-icon[data-mimetype*=wmts] {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;
  width: 32px;
  height: 35px;
  background-position: -160px -62px;
  vertical-align: middle;
  display: inline-block;
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.profile_image {
  width: 20px;
  float: left;
}
.app-container {
  padding-top: 10px;
  display: table;
  height: calc(100% - 10px);
}
.app-container > div {
  display: table-row;
  height: 100%;
  /*
    &:first-child {
      height: 0px;
    }
    */
}
.app-container > .appErrorList {
  display: block;
  width: 100%;
  height: auto;
}
cell {
  display: table-cell;
  height: 100%;
}
row {
  display: table-row;
  height: 100%;
}
.glyphicon-json {
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/json.svg);
  background-size: cover;
}
.search_results {
  margin-top: 1em;
}
.mosaicDisplay {
  position: relative;
}
.mosaicDisplay .widget {
  margin-top: 0;
}
.annotResContainer {
  background-color: white;
}
[class*="layout-"] {
  height: 100%;
}
[class*="layout-"].panel {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
[class*="layout-"] .mainResource {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid #bbb;
}
[class*="layout-"] .mainResViewer {
  height: 100%;
}
[class*="layout-"] .linkedResources .annotResContainer {
  border: 1px solid #bbb;
}
[class*="layout-"] .linkedResources .annotResContainer:hover,
[class*="layout-"] .linkedResources .annotResContainer.active {
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
.layout-grid .mainResource {
  height: 600px;
}
.layout-grid .linkedResources {
  position: absolute;
  top: 0;
  width: 200px;
  right: 0;
}
.layout-grid .linkedResources .annotResContainer {
  height: 150px;
  width: 200px;
  position: relative;
  float: right;
}
.layout-grid .linkedResources .annotResContainer:hover,
.layout-grid .linkedResources .annotResContainer.active {
  height: 300px;
  width: 400px;
}
.layout-grid .linkedResources .annotResViewer {
  height: 300px;
  width: 400px;
  transform: scale(0.5);
  transition: transform 0.1s;
  transform-origin: top right;
  right: 0;
  position: absolute;
}
.layout-grid .linkedResources .annotResContainer:hover .annotResViewer,
.layout-grid .linkedResources .annotResContainer.active .annotResViewer {
  transform: scale(1);
}
.layout-right .mosaicDisplay {
  display: flex;
  flex-direction: row;
}
.layout-right .mainResource {
  flex: 1;
  min-width: 800px;
}
.layout-right .mainResource #theContainer {
  /* required to have fixed position refer to this element (for scrolllinks bar) */
  transform: rotateY(0deg);
}
.layout-right .linkedResources {
  position: relative;
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.layout-right .linkedResources .annotResContainer {
  height: 200px;
  width: 100%;
  position: relative;
  flex: 1;
  margin-left: 5px;
}
.layout-right .linkedResources .annotResViewer {
  height: 100%;
  /* required to have fixed position refer to this element (for scrolllinks bar) */
  transform: rotateY(0deg);
}
.layout-bottom .mainResource {
  display: block;
  margin-bottom: 1em;
}
.layout-bottom .mainResource:not(:last-child) {
  height: 60%;
}
.layout-bottom .mainResource #theContainer {
  /* required to have fixed position refer to this element (for scrolllinks bar) */
  transform: rotateY(0deg);
}
.layout-bottom .linkedResources {
  position: relative;
  display: table;
  width: 100%;
  height: 40%;
}
.layout-bottom .linkedResources .annotResContainer {
  height: 100%;
  display: table-cell;
}
.layout-bottom .linkedResources .annotResViewer {
  height: 100%;
  /* required to have fixed position refer to this element (for scrolllinks bar) */
  transform: rotateY(0deg);
}
#info {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
  border-top-color: white;
}
.tooltip-inner {
  border: 2px solid white;
}
.tooltip-inner > table {
  font-size: 80%;
}
.tooltip-inner td {
  text-align: left;
  line-height: 90%;
}
.tooltip-inner > div:first-child {
  font-weight: bold;
}
.mosaicEditor .CodeMirror {
  height: 100%;
}
.autocomplete-suggestions {
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;
}
.autocomplete-suggestions div:last-child {
  padding: 5px;
}
/* Flip styling */
/* entire container, keeps perspective */
.flipContainer {
  perspective: 1000;
}
/* flip the pane when hovered */
.flipContainer.showBack .flipper {
  transform: rotateY(180deg);
}
.flipContainer {
  width: 100%;
  height: calc(100% - 32px - 15px);
}
.front,
.back {
  width: 100%;
  height: 100%;
}
/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}
:hover > .link {
  text-decoration: underline;
}
.link.active {
  font-weight: 400;
  position: relative;
}
.link.active:before {
  content: ">";
  position: absolute;
  left: -10px;
  line-height: normal;
}
/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
}
/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}
.annotList {
  font-size: 80%;
  margin-left: 1em;
}
.panel {
  /* Override bootstrap panel definition */
  margin-bottom: inherit;
  background-color: inherit;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  /*
  padding: 3px;
  border: 1px solid black;
  border-radius: 2px;
  */
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.panel .panel_header {
  margin-bottom: 4px;
  border-bottom: 1px solid #ddd;
}
.panel .panel_content {
  padding-left: 0.5em;
  overflow-x: hidden;
}
.panel .panel_content .action {
  float: right;
  display: none;
}
.panel .panel_content :hover > .action {
  display: inherit;
}
.panel.left {
  width: 15em;
  min-width: 15em;
  overflow: scroll;
  position: relative;
}
.panel.left > div {
  width: 100%;
}
.panel.slidein .header_padder {
  height: 32px;
}
.panel .subpanel {
  border: 1px solid #ABB3BD;
  border-radius: 2px;
  padding: 3px;
  background-color: #E4ECF1;
  /* margin-top: 1em;   this causes parent with table-cell display to have a top padding  */
}
.panel .subpanel:not(:last-child) {
  /*border-bottom: 1px solid grey; */
  margin-bottom: 2px;
}
.hoverMenu > div {
  margin: 0;
  opacity: 0.8;
}
.dropdown-hover .dropdown-menu {
  margin: 0;
  background-color: black;
}
.dropdown-hover .dropdown-menu .action {
  color: white;
}
.dropdown-hover:hover .dropdown-menu {
  display: initial;
}
.graphViewer:hover .hoverMenu.widget {
  display: block;
}
/* Icon definitions
*/
.icon-graph {
  background-image: url(../images/icons/graph.png);
  background-size: contain;
  width: 14px;
  height: 14px;
  display: inline-block;
  filter: invert(100%) brightness(2);
  vertical-align: middle;
}
.icon-dock-right {
  mask-image: url(../images/icons/1457716502_interface-14.svg);
  -webkit-mask-image: url(../images/icons/1457716502_interface-14.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: #2a6496;
}
.annotationLayer .addLink {
  color: #2a6496;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1px;
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute !important;
}
.annotationLayer .addLink:before {
  content: "\e081";
}
.annotationLayer .addLink:hover {
  border-color: inherit;
}
.graphContainer {
  text-align: initial;
}
.pdfViewer {
  /* re-align text overlay with pdf */
}
.pdfViewer .page {
  margin: 9px auto 0px auto;
  border: none;
  /* replace raster shadow with css one */
  border-image: none;
  box-shadow: 0 0 10px;
}
.pdfViewer .textLayer {
  top: -4px;
}
.olControlLayerSwitcher .layersDiv {
  max-height: calc(100% - 20px);
  white-space: nowrap;
  overflow: auto;
}
.olControlLayerSwitcher .basemapSelector {
  background-color: #5180a4;
}
.olControlLayerSwitcher .zoomToExtentIcon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  padding-top: 2px;
  color: transparent;
  display: none;
}
.olControlLayerSwitcher .zoomToExtentIcon:before {
  content: "\e140";
}
.olControlLayerSwitcher .zoomToExtentIcon:before {
  color: white;
}
.olControlLayerSwitcher .dataLayersDiv {
  text-align: left;
}
.olControlLayerSwitcher .dataLayersDiv :hover > .zoomToExtentIcon {
  display: inline-block;
}
.editable > input,
.editable > input[disabled] {
  cursor: context-menu;
  border-color: transparent;
}
.editable.edited > input {
  border-color: initial;
  cursor: initial;
}
.action {
  opacity: 0.8;
  text-decoration: none !important;
  color: #2a6496;
}
.action:hover {
  opacity: 1;
}
.mosaic-action-bar {
  float: right;
}
.mosaic-action-bar > * {
  vertical-align: top;
}
.actionBar {
  position: absolute;
  top: -24px;
  right: -1px;
  line-height: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  border: 1px solid #30303050;
  border-radius: 2px;
  transition: width 0.3s, height 0.3s;
}
.actionBar > div {
  display: inline-block;
  margin: 4px 4px;
}
.actionBar .action {
  color: white;
  vertical-align: bottom;
}
.actionBar .action-label {
  font-size: 70%;
  vertical-align: bottom;
  display: none;
}
.actionBar.shrinkable > :not(:first-child) {
  display: none;
}
.actionBar .onhover {
  display: none;
}
.actionBar:hover.shrinkable > :not(:first-child) {
  display: inherit;
}
.actionBar:hover .onhover {
  display: inherit;
}
.annot .actionBar {
  display: none;
}
.annot:hover .actionBar,
.annot.olPopup .actionBar {
  display: block;
}
.autocomplete-suggestions {
  padding-top: 20px;
  overflow: auto;
}
.searchCombo {
  border-bottom: 1px #2a6496;
  padding: 2px;
  position: fixed;
  background-color: white;
  margin-top: -20px;
}
.searchCombo > span {
  padding: 2px 2px;
  /* border: 1px solid black; */
  border-radius: 2px;
  margin: 1px;
  background-color: #2a6496;
  color: white;
}
.searchCombo > span.active {
  font-weight: bold;
}
.spinner {
  margin: 1px auto;
  width: 20px;
  height: 3px;
  font-size: 6px;
  display: inline-block;
}
.spinner > div {
  height: 100%;
  width: 100%;
  display: block;
  margin-bottom: 0.3em;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    -webkit-transform: scaleX(1);
    background-color: #00b192;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}
@keyframes stretchdelay {
  0%,
  40%,
  100% {
    background-color: #2e5865;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    background-color: #00b192;
    transform: scaleY(1);
    -webkit-transform: scaleX(1);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}
html {
  height: 100%;
}
/* Space out content a bit */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height: calc(100% - 60px);
}
.container {
  width: 100%;
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
.container.header {
  z-index: 100;
  position: fixed;
  top: 0px;
}
.app-container {
  margin-top: 60px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Raleway, sans-serif;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-weight: 200;
}
h1,
h2,
h3 {
  margin-top: 5px;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}
.nav > li > a {
  font-family: Raleway, sans-serif;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-weight: 200;
  padding: 5px 10px;
}
.nav > li .btn {
  padding-top: 3px;
}
.nav > li.btn-group:hover {
  background-color: #eee;
}
.nav > li.btn-group a:first-child {
  /* padding-right: 0; */
}
.nav > li.btn-group a.dropdown-toggle {
  padding-left: 0px;
}
/* Custom page header */
.header {
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: #f2f6f7;
  /* Make the masthead heading the same height as the navigation */
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 10px;
}
.header .loginMenu .dropdown-menu {
  left: initial;
  right: 0;
}
.header ul.nav {
  margin-top: 10px;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.app-container .disclaimer {
  height: auto;
  display: block;
  text-align: center;
  position: relative;
}
.app-container .disclaimer .close_button {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  opacity: 0.6;
}
.app-container .disclaimer .close_button:hover {
  opacity: 1;
}
.app-container .disclaimer:hover .close_button {
  display: block;
}
/* Doc affixed menu */
.app-doc h1,
.app-doc h2,
.app-doc h3,
.app-doc h4,
.app-doc h5,
.app-doc h6 {
  font-weight: normal;
  color: #1d719c;
}
.app-doc h4 {
  margin-top: 20px;
}
.app-doc h5 {
  margin-top: 15px;
  font-weight: 200;
}
.app-doc h4:before {
  background-image: url('../images/bullet.png');
  background-size: 15px 15px;
  display: inline-block;
  width: 15px;
  height: 15px;
  content: "";
  vertical-align: middle;
  margin-right: 5px;
}
.app-doc .left-menu {
  transition: 0.3s;
  left: 17%;
  margin: 10px 10px;
}
.app-doc .left-menu.affix {
  left: 0;
}
