@import url(//fonts.googleapis.com/css?family=Raleway:300,400,200,100,500,600);

@import "variables.less";
@import "mosaics.less";

html {
  height: 100%;
}

/* Space out content a bit */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  height:~"calc(100% - 60px)"
}

.container {
  width: 100%;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container.header {
  z-index: 100;
  position: fixed;
  top: 0px;
}

.app-container {
  margin-top: 60px;
}

.title() {
  font-family: Raleway, sans-serif;
  /* font-variant: small-caps; */
  text-transform: uppercase;
  font-weight: 200;
}

h1, h2, h3, h4, h5 {
   .title
}

h1, h2, h3 {
  margin-top: 5px;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: inherit;
}



.nav>li {

  >a {
    .title;
    padding: 5px 10px;
  }

  .btn {
    padding-top: 3px;
  }

  &.btn-group {
    &:hover {
      background-color: #eee;
    }

    a:first-child {
      /* padding-right: 0; */
    }

    a.dropdown-toggle {
      padding-left: 0px;
    }
  }
}

/* Custom page header */
.header {
  padding-top: 5px;
  border-bottom: 1px solid #e5e5e5;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: rgb(242, 246, 247);

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 10px;
  }

  .loginMenu .dropdown-menu {
    left: initial;
    right: 0;
  }

  ul.nav {
    margin-top: 10px;
  }
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.app-container .disclaimer {
  height: auto;
  display: block;
  text-align: center;
  position: relative;

  .close_button {
    position: absolute;
    right: 5px;
    top: 5px;
    display: none;
    opacity: 0.6;

    &:hover  {
      opacity: 1;
    }
  }

  &:hover {
    .close_button {
      display: block;
    }
  }
}


/* Doc affixed menu */
.app-doc {
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #1d719c;
  }

  h4 {
    margin-top: 20px;
  }

  h5 {
    margin-top: 15px;
    font-weight: 200;
  }

  h4:before {
    background-image: url('../images/bullet.png');
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 15px;
    content:"";
    vertical-align: middle;
    margin-right: 5px;
  }

  .left-menu {

    transition: 0.3s;
    left: 17%;
    margin: 10px 10px;

    &.affix-top {

    }

    &.affix {
      left: 0;
    }

  }
}
