

.gis-icon {
  background-image: url("../images/icons/gis-resources-sprite-icons.png");
}

.mime-icon-background(@offset) {
  background: url("../images/icons/sprite-resource-icons.png") no-repeat 0 0;

  width: 32px;
  height: 35px;
  background-position: (-32px * @offset) -62px;
  vertical-align: middle;
  display: inline-block;
}


.mime-icon {
  .mime-icon-background(0);
}

.mime-icon[data-mimetype=rdf],
.mime-icon[data-mimetype*=rdf] {
  .mime-icon-background(1);
}

.mime-icon[data-mimetype=pdf],
.mime-icon[data-mimetype*=pdf] {
  .mime-icon-background(2);
}

.mime-icon[data-mimetype=api],
.mime-icon[data-mimetype*=api] {
  .mime-icon-background(3);
}

.mime-icon[data-mimetype=zip],
.mime-icon[data-mimetype*=zip] {
  .mime-icon-background(4);
}

.mime-icon[data-mimetype=xls],
.mime-icon[data-mimetype*=xls] {
  .mime-icon-background(5);
}

.mime-icon[data-mimetype=csv],
.mime-icon[data-mimetype*=csv] {
  .mime-icon-background(6);
}

.mime-icon[data-mimetype=txt],
.mime-icon[data-mimetype*=txt] {
  .mime-icon-background(7);
}

.mime-icon[data-mimetype=xml],
.mime-icon[data-mimetype*=xml] {
  .mime-icon-background(8);
}

.mime-icon[data-mimetype=json],
.mime-icon[data-mimetype*=json] {
  .mime-icon-background(9);
}

.mime-icon[data-mimetype=html],
.mime-icon[data-mimetype*=html] {
  .mime-icon-background(10);
}

.mime-icon[data-mimetype=wfs],
.mime-icon[data-mimetype*=wfs] {
  .mime-icon-background(0);
  .gis-icon;
}

.mime-icon[data-mimetype=wms],
.mime-icon[data-mimetype*=wms] {
  .mime-icon-background(1);
  .gis-icon;
}

.mime-icon[data-mimetype=gml],
.mime-icon[data-mimetype*=gml] {
  .mime-icon-background(2);
  .gis-icon;
}

.mime-icon[data-mimetype=kml],
.mime-icon[data-mimetype*=kml] {
  .mime-icon-background(3);
  .gis-icon;
}

.mime-icon[data-mimetype=geojson],
.mime-icon[data-mimetype*=geojson] {
  .mime-icon-background(4);
  .gis-icon;
}

.mime-icon[data-mimetype=wmts],
.mime-icon[data-mimetype*=wmts] {
  .mime-icon-background(5);
  .gis-icon;
}
