@import (less) "loader.css";

@import "webfonts/onlinewebfonts.css";

@import "mimetypes.less";

@import (reference) "../../bower_components/bootstrap/less/bootstrap.less";


.profile_image {
  width: 20px;
  float: left;
}

.app-container {
  padding-top: 10px;
  display: table;
  height: ~"calc(100% - 10px)";
  &>div {
    display: table-row;
    height: 100%;

    /*
    &:first-child {
      height: 0px;
    }
    */
  }

  >.appErrorList {
    display: block;
    width: 100%;
    height: auto;
  }
}



cell {
  display: table-cell;
  height: 100%;
}

row {
  display: table-row;
  height: 100%;
}

.glyphicon-json {
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/json.svg);
  background-size: cover;
}

.search_results {
  margin-top: 1em;
}

.mosaicDisplay {
  position: relative;
}

.mosaicDisplay .widget {
  margin-top: 0;
}

.annotResContainer {
  background-color: white;
}

[class*="layout-"] {
  height: 100%;

  &.panel {
    position: absolute;
    top: 0px;
    bottom: 0px;
  }

  .mainResource {
    position:relative;
    text-align: center;
    width: 100%;
    height: 100%;

    border: 1px solid #bbb;
  }

  .mainResViewer {
    height: 100%;
  }

  .linkedResources {

    .annotResContainer {

      border: 1px solid #bbb;

      &:hover, &.active {
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
      }
    }

  }
}

.layout-grid {

  .mainResource {
    height: 600px;
  }

  .linkedResources {
    position: absolute;
    top: 0;
    width: 200px;
    right: 0;

    .annotResContainer {
      height: 150px;
      width: 200px;
      position: relative;
      float: right;
    }
    .annotResContainer:hover, .annotResContainer.active {
      height: 300px;
      width: 400px;
    }

    .annotResViewer {
      height: 300px;
      width: 400px;
      transform: scale(0.5);
      transition: transform 0.1s;
      transform-origin: top right;
      right: 0;
      position: absolute;
    }

    .annotResContainer:hover .annotResViewer, .annotResContainer.active .annotResViewer {
      transform: scale(1);
    }

  }
}

.layout-right {

  .mosaicDisplay {
    display: flex;
    flex-direction: row;
  }

  .mainResource {
    flex: 1;
    min-width: 800px;
    #theContainer {
      /* required to have fixed position refer to this element (for scrolllinks bar) */
      transform: rotateY(0deg);
    }
  }

  .linkedResources {
    position: relative;
    flex: 1;
    // force column to have no height, as growing over 100% causes mainResource
    //to mess up height calculation and shrink to 0
    height: 100%;
    display: flex;
    flex-direction: column;

    .annotResContainer {
      height: 200px;
      width: 100%;
      position: relative;
      flex: 1;

      margin-left: 5px;
    }

    .annotResViewer {
      height: 100%;
      /* required to have fixed position refer to this element (for scrolllinks bar) */
      transform: rotateY(0deg);
    }


  }
}

.layout-bottom {

  .mosaicDisplay {
  }

  .mainResource {
    display: block;
    margin-bottom: 1em;

    //TODO currently always true as linkedResources are simply hidden if empty
    &:not(:last-child) {
      height: 60%;  // set to 60% height only when linkedResources are displayed
    }

    #theContainer {
      /* required to have fixed position refer to this element (for scrolllinks bar) */
      transform: rotateY(0deg);
    }
  }

  .linkedResources {
    position: relative;
    display: table;
    width: 100%;
    height: 40%;

    .annotResContainer {
      height: 100%;
      display: table-cell;
    }

    .annotResViewer {
      height: 100%;
      /* required to have fixed position refer to this element (for scrolllinks bar) */
      transform: rotateY(0deg);
    }


  }
}



#info {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 100;
}
.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
  border-top-color: white;
}
.tooltip-inner {
  border: 2px solid white;
}

.tooltip-inner>table {
  font-size: 80%;
}

.tooltip-inner td {
  text-align: left;
  line-height: 90%;
}

.tooltip-inner>div:first-child {
  font-weight: bold;
}


.mosaicEditor .CodeMirror {
  height: 100%;
}


.autocomplete-suggestions {
  background-color: white;
  border: 1px solid gray;
  border-radius: 2px;

  div:last-child {
    padding: 5px;
  }
}

/* Flip styling */

/* entire container, keeps perspective */
.flipContainer {
  perspective: 1000;
}
/* flip the pane when hovered */
.flipContainer.showBack .flipper {
  transform: rotateY(180deg);
}


.flipContainer {
  width: 100%;
  height: ~"calc(100% - 32px - 15px)";  // remove the height of the title
}

.front, .back {
  width: 100%;
  height: 100%;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
  position: relative;
}

:hover>.link {
  text-decoration: underline;
}

.link {

  &.active {
    font-weight: 400;
    position: relative;

    &:before {
      content: ">";
      position: absolute;
      left: -10px;
      line-height: normal;
    }
  }
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.annotList {
  font-size: 80%;
  margin-left: 1em;
}

.panel {

  .panel_header {
    margin-bottom: 4px;
    border-bottom: 1px solid #ddd;
  }

  .panel_content {
    padding-left: 0.5em;
    overflow-x: hidden;

    .action {
      float: right;
      display: none;
    }

    :hover>.action {
      display: inherit;
    }
  }

  /* Override bootstrap panel definition */
  margin-bottom: inherit;
  background-color: inherit;
  border: none;
  border-radius: 0;
  -webkit-box-shadow:none;
  box-shadow: none;

  /*
  padding: 3px;
  border: 1px solid black;
  border-radius: 2px;
  */

  display: table-cell;
  width: 100%;
  vertical-align: top;

  &.left {
    width: 15em;
    min-width: 15em;

    overflow: scroll;

    position:relative;

    &>div {
      width: 100%;
    }
  }

  &.slidein {
      .header_padder {
        height: 32px;
      }
  }

  .subpanel {

    border: 1px solid #ABB3BD;
    border-radius: 2px;
    padding: 3px;
    background-color: #E4ECF1;
    /* margin-top: 1em;   this causes parent with table-cell display to have a top padding  */


    &:not(:last-child) {
      /*border-bottom: 1px solid grey; */
      margin-bottom: 2px;
    }
  }
}

.hoverMenu > div {
  margin: 0;
  opacity: 0.8;
}

.dropdown-hover {
  .dropdown-menu {
    margin: 0;
    background-color: black;
    .action {
      color: white;
    }
  }

  &:hover {
    .dropdown-menu {
      display: initial;
    }
  }
}

.graphViewer:hover .hoverMenu.widget {
  display:block
}


/* Icon definitions
*/

.icon-graph {
  background-image: url(../images/icons/graph.png);
  background-size: contain;
  width: 14px;
  height: 14px;
  display: inline-block;
  filter: invert(100%) brightness(2);
  vertical-align: middle;
}

.icon-dock-right {
  mask-image: url(../images/icons/1457716502_interface-14.svg);
  -webkit-mask-image: url(../images/icons/1457716502_interface-14.svg);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: @action-color;
}

.annotationLayer .addLink {

  color: @action-color;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1px;


  .glyphicon-plus-sign;
  .glyphicon;

  position: absolute !important;

  &:hover {
    border-color: inherit;
  }
}

.graphContainer {
  text-align: initial;
}


.pdfViewerContainer {

}

.pdfViewer {

  .page {
    margin: 9px auto 0px auto;
    border: none;

    /* replace raster shadow with css one */
    border-image: none;
    box-shadow: 0 0 10px;
  }

  /* re-align text overlay with pdf */
  .textLayer {
    top: -4px;
  }
}


.olControlLayerSwitcher {

  .layersDiv {
    max-height: ~"calc(100% - 20px)";
    white-space: nowrap;
    overflow: auto;
  }

  .basemapSelector {
    background-color: #5180a4
  }

  .zoomToExtentIcon {
    .glyphicon-fullscreen;
    .glyphicon;
    float: right;
    padding-top: 2px;
    color: transparent;
    display: none;


    &:before {
      color: white
    }
  }

  .dataLayersDiv {
    text-align: left;

    :hover>.zoomToExtentIcon {
      display: inline-block;
    }
  }
}

.editable {

  &>input, &>input[disabled] {
    cursor: context-menu;
    border-color: transparent;
  }

  &.edited>input {
    border-color: initial;
    cursor: initial;
  }
}

.action {
  opacity: 0.8;
  text-decoration: none !important;
  color: @action-color;

  &:hover {
    opacity: 1;
  }
}

.mosaic-action-bar {
  float: right;

  > * {
    vertical-align: top;
  }
}

.actionBar {
  position: absolute;
  top: -24px;
  right: -1px;
  line-height: 12px;
  background-color: @actionbar-color;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;

  border: 1px solid #30303050;
  border-radius: 2px;

  transition: width 0.3s, height 0.3s;

  >div {
    display: inline-block;
    margin: 4px 4px;
  }

  .action {
    color: white;
    vertical-align: bottom;
  }

  .action-label {
    font-size: 70%;
    vertical-align: bottom;
    display: none;
  }

  &.shrinkable {
    >:not(:first-child) {
      display: none
    }
  }

  .onhover {
    display: none;
  }

  &:hover {

    &.shrinkable {
      >:not(:first-child) {
        display: inherit;
      }
    }

    .onhover {
      display: inherit;
    }
  }
}

.annot .actionBar {
  display:none;
}

.annot:hover,.annot.olPopup {
  .actionBar {
    display:block
  }
}

.autocomplete-suggestions {
  padding-top: 20px;
  overflow: auto;
}

.searchCombo {

  border-bottom: 1px @action-color;
  padding: 2px;
  position: fixed;
  background-color: white;
  margin-top: -20px;

  >span {
    padding: 2px 2px;
    /* border: 1px solid black; */
    border-radius: 2px;
    margin: 1px;
    background-color: @action-color;
    color: white;

    &.active {
      font-weight: bold;
    }
  }
}

.spinner {
  margin: 1px auto;
  width: 20px;
  height: 3px;
  font-size: 6px;

  display: inline-block;

  > div {
    height: 100%;
    width: 100%;
    display: block;
    margin-bottom: 0.3em;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
  }
  .rect2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  .rect3 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleX(0.8);
    background-color: #2e5865;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    -webkit-transform: scaleX(1);
    background-color: #00b192;
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}
@keyframes stretchdelay {
  0%, 40%, 100% {
    background-color: #2e5865;
    transform: scaleX(0.8);
    -webkit-transform: scaleX(0.8);
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.1);
  }
  20% {
    background-color: #00b192;
    transform: scaleY(1);
    -webkit-transform: scaleX(1);
    box-shadow: 0 5px 6px rgba(10, 10, 10, 0.4);
  }
}