
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <!--
            <li class="active"><a ng-href="#">Home</a></li>
            <li><a ng-href="#/about">About</a></li>
            </li>
            -->
            <li>
                <a ui-sref="preview" class="btn">Preview</a>
            </li>
            <li class="btn-group">
                    <a class="btn" ui-sref="search">Search</a>
                    <a ng-if="currentUser && currentUser.authenticated" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a ui-sref="mosaics.query({query:'mine'})">My Mosaics</a></li> -->
                        <li><a ui-sref="mosaics.all">All Mosaics</a></li>
                        <li><a ui-sref="sparql">Sparql</a></li>
                    </ul>
            </li>
            <li>
                <a ui-sref="doc" class="btn">Doc</a>
            </li>
            <li class="btn-group" ng-if="currentUserHasRole('admin')">
                <a  class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="glyphicon glyphicon-cog"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a ui-sref="admin.server">Server</a></li>
                    <li><a ui-sref="admin.users">Users</a></li>
                    <li><a ui-sref="admin.config">Config</a></li>
                </ul>
            </li>
            <!--
            <li class="dropdown">
                <a href="#/samples" class="btn dropdown-toggle" data-toggle="dropdown">Samples <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li ng-repeat="sample in samplesCtrl.samples"><a href="#/samples/{{sample}}">{{sample}}</a></li>
                </ul>
            </li>
            -->
            <li ng-controller="LoginCtrl as loginCtrl" class="loginMenu">
                <div ng-if="currentUser && currentUser.authenticated" class="btn-group">
                    <button type="button" class="btn btn-primary" ui-sref="myprofile">
                        <img class="profile_image" src="{{currentUser.principal.user.pictureUrl}}" />
                        <span style="margin: 0px 4px">{{currentUser.principal.user.displayName}}</span>
                    </button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </div>
                <div ng-if="!(currentUser && currentUser.authenticated)" class="btn-group">
                    <button type="button" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="authenticate('google')">Sign in with Google</a></li>
                        <li><a ng-click="authenticate('facebook')">Sign in with Facebook</a></li>
                        <li><a ng-click="authenticate('linkedin')">Sign in with LinkedIn</a></li>
                        <li><a ng-click="authenticate('twitter')">Sign in with Twitter</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Register</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <h3 class="text-muted">
            <img src="favicon-196x196.png" style="height: 40px; vertical-align: middle"/>
            <span style="vertical-align: middle">Mosaics</span><span style="position: relative; font-size: 50%; right: 35px; top: 13px; color: #2a6496">Demo</span></h3>
    </div>

