<div>
    <input class="btn btn-danger"
           type="button"
           ng-confirm-click="Are you sure you want to clean DB?"
           ng-click="clean()"
           value="Clean DB"/>

    <input class="btn btn-primary"
           type="button"
           ng-click="initdata()"
           value="Init DB with sample data"/>
</div>