<div ng-controller="DemoCtrl as demoCtrl">
    <div ng-init="mosaic = demoMosaic" ng-controller="MosaicCtrl as mozCtrl">
        <div class="resourceList" >
            <div ng-repeat="res in resources">
                <div ng-click="mozCtrl.display(res)">
                    <span style="font-size: 150%; margin: 0 1em;">{{res['dc:title']}}</span><span class="glyphicons glyphicons-edit" ng-click="toggleEdit()">EDIT</span>
                </div>

            </div>
        </div>
        <div class="flipContainer" ng-class="{showBack: editMode}">
            <div class="flipper">
                <div class="mosaicEditor back">
                    <ui-codemirror id="mosaicEditor" ui-codemirror-opts="editorOptions" ng-model="jsonMosaic"></ui-codemirror>
                </div>
                <div class="mosaicDisplay front" ng-controller="MosaicDisplayCtrl as mozDisplayCtrl">
                    <button class="glyphicons glyphicons-edit" ng-click="captureSelection()">ADD</button> {{capturedFragment}}
                    <div style="height: 600px; position:relative">
                        <div id="theContainer" style="height: 100%"></div>
                    </div>
                    <div style="position: absolute; top: 0; width: 200px; right: 0;">
                        <div  class="annotResContainer" ng-repeat="(hash, ann) in displayedAnnotationResources">
                            <div class="annotResViewer" ng-init="displayedResource = ann" ng-controller="ResourceDisplayCtrl as resDisplayCtrl">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>