<div>
    <div id="mosaicList" ng-controller="MosaicListCtrl as mozListCtrl" >
        <div ng-repeat="mosaic in mozListCtrl.context.mosaics">
            <span ng-click="mozListCtrl.select(mosaic)" ng-style="{ 'font-weight': mozListCtrl.isSelected(mosaic) ? 'bold' : '' }">{{mosaic["id"]}}</span>
        </div>
    </div>

    <moz-viewer ng-model="selected">

    </moz-viewer>
</div>