<div>
    <div id="mosaicList" ng-controller="MosaicListCtrl as mozListCtrl">
        <div ng-repeat="mosaic in mozListCtrl.context.mosaics">
            <span ng-click="mozListCtrl.select(mosaic)" ng-style="{ 'font-weight': mozListCtrl.isSelected(mosaic) ? 'bold' : '' }">{{mosaic["id"]}}</span>
        </div>
    </div>
    <div id="mosaicDetail">
        <div ng-repeat="mosaic in mozListCtrl.mosaics">
            {{mosaic["@id"]}}
        </div>
    </div>
    <div id="editor" ng-controller="MosaicEditorCtrl as mozEditorCtrl" style="position:relative">
        <button class="btn btn-primary" style="float:right; margin-right:1em; margin-top: 1em" ng-click="mozEditorCtrl.saveMosaic()">Save</button>
        <ui-codemirror id="resultEditor" ui-codemirror-opts="editorOptions" ng-model="jsonMosaic"></ui-codemirror>
    </div>
</div>