
<div ng-init="mozTitle = ann['moz:inMosaic']['dc:title']; linkType = ann.body['moz:linkType']; res = ann['dct:references']"
     style="display: table-row">
    <div style="display:table-cell; text-align: right; white-space: nowrap">
        <a ng-if="mozTitle" ui-sref="mosaics.id({id:(ann['moz:inMosaic'].id || ann['moz:inMosaic'])})">
            {{mozTitle}}
        </a>
        <a ng-if="res['dc:title']" ui-sref="mosaics.id.resource({id:(ann['moz:inMosaic'].id || ann['moz:inMosaic']),res:res.id})"> / {{res['dc:title']}}</a>
        <span ng-if="!(mozTitle || res['dc:title'])"
           title="{{ann.target.source}}"
           style="font-family: monospace;font-size: 90%;">
            &lt;<a ui-sref="preview({url:ann.target.source})">{{truncateUri(ann.target.source, 50)}}</a>&gt;
        </span>
    </div>
    <div style="display:table-cell; padding: 0px 5px; white-space: nowrap">
        <i ng-class="getDimensionClass(targetDimension)" title="{{targetMimeType}}"></i>
        <i ng-class="getDimensionClass(bodyDimension)" title="{{bodyMimeType}}"></i>
    </div>
    <div style="display:table-cell; text-align: left; white-space: nowrap">
        <span ng-if="linkType"
              style="font-family: monospace;font-size: 90%;"
              title="{{linkType}}">
            &lt;{{getLinkName(linkType)}}&gt;
        </span>
        <a ng-if="ann['moz:inMosaic']" ui-sref="mosaics.id.annotation({id:(ann['moz:inMosaic'].id || ann['moz:inMosaic']), ann:ann.id, open:true})">{{ann['dc:title']}}</a>
        <a ng-if="!ann['moz:inMosaic']" ui-sref="preview({url:ann.target.source, ann:ann.id, open:true})">{{ann['dc:title']}}</a>

    </div>
    <div style="display:table-cell; text-align: left; padding-left: 10px; white-space: nowrap">
        {{ (ann['modified'] || ann['moz:inMosaic']['modified'])| date:'short'}}
    </div>
</div>
