<div>
    <div class='details'><b>{{annotation.name}}</b>
        <div ng-if="linkTypeName">[{{linkTypeName}}]</div>
        <div ng-if="annotation.description">{{annotation.description}}</div>
    </div>
    <div class='actionBar'>
        <div><span class='action glyphicon glyphicon-edit'
                   ng-click='editAnnotationOnClick($event)'/></div>
        <div><span class='action glyphicon glyphicon-remove'
                   ng-click='deleteAnnotationOnClick($event)'
                   ng-confirm-click="Are you sure you want to delete annotation?"/></div>
    </div>
</div>