<div>
    <div class="modal-header">
        <h3 class="modal-title">Filter Annotations</h3>
    </div>
    <div class="modal-body">
        <div class="form-group row" ng-show="currentUser">
            <label class="col-sm-2 col-form-label">Owner</label>
            <div class="col-sm-9">
                <input type="radio" ng-model="filter.owner" value="me">Mine
                <input type="radio" ng-model="filter.owner" value="">All
            </div>
        </div>

        <hr>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Link type</label>
            <span id="linkTypeContainer" style="position: relative" class="col-sm-9">
                <input class="form-control" id="linkType" ng-model="filter.body['moz:linkType']" type="text"/>
                <div class="spinner"
                     style="position: absolute;right: 3em;top: 1.5em; display: none">
                    <div class="rect1"></div>
                    <div class="rect2"></div>
                    <div class="rect3"></div>
                </div>
            </span>
        </div>

        <hr>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">From</label>
            <span id="annSourceContainer" style="position: relative" class="col-sm-9">
                <search-dropdown sources="autocompleteSources" ng-model="filter.target" display-field="source"/>
            </span>
        </div>

        <hr>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">To</label>
            <span id="annTargetContainer" style="position: relative" class="col-sm-9">
                <search-dropdown sources="autocompleteSources" ng-model="filter.body" display-field="source"/>
            </span>
        </div>

    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="button" ng-click="ok()" value="Filter"/>
        <input class="btn btn-warning" type="button" ng-click="cancel()" value="Cancel"/>
    </div>
</div>