<div class='actionBar' ng-show="hasPermission('write', annotation.data)">
    <div>
        <span class='action glyphicon glyphicon-edit'
               ng-click='editAnnotationOnClick($event)'/></div>
    <div>
        <span class='action glyphicon glyphicon-remove'
               ng-click='deleteAnnotationOnClick($event)'
               ng-confirm-click="Are you sure you want to delete annotation?"/></div>
</div>
