<div class="appErrorList alert alert-warning" ng-show="appErrors.new_errors.length && showErrors">
    <span style="float: right" class="glyphicon glyphicon-remove" ng-click="toggleDisplay(false)"></span>
    <div class="content">
        <div ng-repeat="error in appErrors.new_errors" class="error">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            {{error.status}} {{error.statusText}} : {{error.data.message}}
        </div>
    </div>
</div>