<div class="actionBar shrinkable">

    <div>
        <span class="action-label">Mosaic</span>
        <span class="action action-add-mosaic glyphicon glyphicon-comment" ng-click="capture(fragment)"/>
    </div>
    <!-- TODO implement clipboard action -->

    <!--
        <div>
            <span class="action-label">Clipboard</span>

            <span class="action action-add-clipboard glyphicon glyphicon-plus" ng-click="capture(fragment)"/>
        </div>
        -->


</div>