<div ng-show="currentUser && !getCookie('disclaimerRead')" class="disclaimer alert alert-info">
    <div class="close_button glyphicon glyphicon-remove" ng-click="setCookie('disclaimerRead', true)"></div>
    <b style="margin-right: 10px">Disclaimer</b> This application is for demo purposes. All user-added data is public, and its content may be
    discarded at any time.
</div>