<i ng-if="allowGraphDisplay" class="icon-graph" ng-click="toggleGraphDisplay(true)"></i>
<div class="btn-group dropdown-hover" style="vertical-align: text-top" >
    <span class='glyphicon-comment glyphicon' ng-click="toggleAnnotations()" ng-style="{color: annotationsDisplayEnabled?'#83e683':undefined}"></span>
    <div ng-if="filterAnnotationsDialog" class="dropdown-menu" style="font-size: inherit; min-width: 0; position: absolute; z-index: 1000; border: none; padding: 3px; left: -3px">
        <div class="action dropdown-item glyphicon-filter glyphicon" ng-click="filterAnnotationsDialog(currentResource && currentResource.source)"></div>
    </div>
</div>
