<cell class="col-md-2"/>
<cell class="col-md-8 app-doc">
    <!--
    <div data-spy="affix" class="left-menu">
        <img src="images/logo-big.png" >
    </div>
    -->
    <div class="left-menu affix">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"><a href="/#doc#overview">Overview</a></li>
            <li role="presentation"><a href="/#doc#features">Features</a></li>
            <li role="presentation"><a href="/#doc#usecases">Use Cases</a></li>
            <li role="presentation"><a href="/#doc#tech">Technical</a></li>
            <li role="presentation"><a href="/#doc#related">Related Material</a></li>
        </ul>
    </div>
    <div id="overview">
        <img src="images/logo-big.png" width="150px"/>
        <div style="display: inline-block; vertical-align: top;">
            <h2>Mosaics</h2>
            An online platform to visualize, annotate and mash up fragments of online media and data
        </div>
    </div>

    <p id="features">
        <h4>Features</h4>
        <p>
            <h5>Online collaborative platform to search, author and visualize mosaics</h5>
        </p>
        <p>
            <h5>Out of the box support for many media types</h5>
            Text, HTML, PDF, Video formats and streaming platforms, tabular data (CSV), geospatial formats (OGC family, AcrGIS)
        </p>
        <p>
            <h5>Extensible viewer framework</h5>
            Custom viewer/editor plugins can be added for any media type.
        </p>
        <p>
            <h5>W3C's Web Annotation support</h5>
            Mosaics model is based on W3C's Web Annotation model
        </p>
        <p>
            <h5>REST API</h5>
            Mosaics and annotations are exposed through a REST API
        </p>
        <p>
            <h5>Sparql endpoint</h5>
            As the internal storage is based on a triple store, content can be searched using sparql expressions,
            including geosparql support
        </p>
    </p>

    <p id="usecases">
        <h4>Use Cases</h4>

    </p>

    <p id="tech">
        <h4>Technical</h4>

    </p>

    <p id="related">
        <h4>Related Material</h4>
        <ul>
            <li>Data Mosaics Project deliverables, JRC Citizen Science Platform, March 2017
                <ul>
                   <li><a href="http://blog.highlatitud.es/docs/CCR.IES.C392667.X0-DataMosaics-D1.pdf">D1: Technical background, usage scenarios and storyline of a demo</a></li>
                   <li><a href="http://blog.highlatitud.es/docs/CCR.IES.C392667.X0-DataMosaics-D2.pdf">D2: Demonstrator Documentation</a></li>
                   <li><a href="http://blog.highlatitud.es/docs/CCR.IES.C392667.X0-DataMosaics-FR.pdf">Final Report</a></li>
                </ul>
            </li>
            <li><a href="http://www.w3.org/2014/03/lgd/papers/lgd14_submission_56">Stitching data mashups from geodata fragments</a>, LinkedGeoData Workshop - W3C, March 2014</li>
            <li><a href="http://www.w3.org/2013/04/odw/odw13_submission_28.pdf">Aggregating media fragments into collaborative mashups: standards and a prototype</a>, Open Data on the Web Workshop - W3C, April 2013</li>
        </ul>
    </p>

</cell>
<cell class="col-md-2"/>
<script>
    $('[data-spy="affix"]').affix({
        offset: {
            top: 200
        }
    })

    $('.app-container').scrollspy({ target: '.app-doc .left-menu' })
</script>
