<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit Mosaic</h3>
    </div>
    <div class="modal-body">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Title</label>
                    <div class="col-sm-10"><input ng-model="editedMoz['dc:title']" class="form-control"/></div>
                </div>

                <hr>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="button" ng-click="ok()" value="Save"/>
        <input class="btn btn-warning" type="button" ng-click="cancel()" value="Cancel"/>
    </div>
</div>