<div>
    <div class="modal-header">
        <span class="btn btn-primary btn-sm" style="float:right" ng-click="editMode = !editMode">JSON</span>
        <h3 class="modal-title">Edit Resource</h3>
    </div>
    <div class="modal-body">
    <div class="flipContainer" ng-class="{showBack: editMode}">
        <div class="flipper">
            <div class="mosaicEditor back">
                <ui-codemirror ui-codemirror-opts="editorOptions" ng-model="jsonEditedRes" ui-refresh="editMode"></ui-codemirror>
            </div>
            <div class="front">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Title</label>
                        <div class="col-sm-10"><input ng-model="editedRes['dc:title']" class="form-control"/></div>
                    </div>

                    <hr>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">URL</label>
            <span class="col-sm-9">
                <search-dropdown sources="autocompleteSources" ng-model="editedRes" display-field="source"/>
            </span>
                        <span class="col-sm-1 glyphicon glyphicon-eye-open" alt="Preview" ng-click="preview(editedRes)" style="font-size: 120%; vertical-align: bottom;"></span>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Fragment</label>
                        <div class="col-sm-10"><input ng-model="editedRes.selector.value" class="form-control"/></div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Format</label>
                        <div class="col-sm-10"><input ng-model="editedRes.format" class="form-control"/></div>
                    </div>

            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer preview" ng-if="previewedRes && previewedRes.source">
        <div resource-display ng-res="previewedRes" capture-fragment-fn="captureFragment" style="height: 200px; position:relative"/>
    </div>
    <div class="modal-footer">
        <input class="btn btn-primary" type="button" ng-click="ok()" value="Save"/>
        <input class="btn btn-warning" type="button" ng-click="cancel()" value="Cancel"/>
    </div>
</div>