<cell overlaid-annotations="annotationFilter" resource-context mosaic mosaic-var="tempMosaic">
    <div class="form-group row">
        <div class="col-sm-10">
            <search-dropdown sources="autocompleteSources"
                             ng-model="formResource"
                             display-field="source"
                             ng-enter="preview()"/>
        </div>
        <div class="col-sm-2" >
        <select ng-model="requiredMimeType"
                ng-options="mt as ext for (mt, ext) in typeMap"
                ng-change="preview(requiredMimeType)"
                class="form-control"></select>
        </div>
    </div>

    <div style="display: table; height: 100%"><row>
        <div class="slidein panel left">
            <div style="position: absolute">
                <div id="annotationsList" ng-if="selectedRes" class="subpanel" ng-init="displayFrom = true">
                    <div class="panel_header">
                        <h5>Annotations
                            <span style="float:right" class="action glyphicon glyphicon-cog" ng-click="editAnnotationFilterModal()"></span>
                        </h5>
                    </div>
                    <div class="panel_content" >
                        <div ng-if="filteredAnnotations.length>0" class="annotList" ng-repeat="annot in filteredAnnotations">
                            <span class="glyphicon" ng-class="annot.body && annot.body.source ? 'glyphicon-log-out' : 'glyphicon-comment' "/>
                            <span ng-click="gotoAnnotation(annot)" ng-mouseover="highlightAnnotation(annot, true)" ng-mouseleave="highlightAnnotation(annot, false)">{{annot['dc:title']}}</span>
                            <span class="action glyphicon glyphicon-trash" ng-click="deleteAnnotationFromMosaic(selected, annot)" ng-confirm-click="Are you sure you want to delete annotation?"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div style="padding: 0px 10px" class="layout-right">
            <div class="mosaicDisplay" style="height: calc(100% - 34px - 15px);"  mosaic-display
                 ng-res="selectedRes"
                 annotations-from-map="annotationsFromMap"
                 annotations-to-map="annotationsToMap"
                 filtered-annotations="filteredAnnotations"
                 filter-annotations-dialog="editAnnotationFilterModal">
                <div ng-show="displayGraph" class="mosaicGraph" style="height: 100%">
                    <div class="hoverMenu widget">
                        <i class="glyphicon-th-large glyphicon" ng-click="toggleGraphDisplay(false)"></i>
                    </div>
                    <div class="graphContainer" style="height: 100%;"></div>
                </div>
                <div ng-show="!displayGraph" class="mainResource" style="height: 100%">
                    <div resource-display class="mainResViewer" ng-res="displayedResource"
                         annotations-from-map="annotationsFromMap"
                         annotations-to-map="annotationsToMap"
                         annotation-renderer="annotationRenderer"
                         capture-fragment-fn="captureFragmentFn"
                         filtered-annotations="filteredAnnotations"
                         filter-annotations-dialog="filterAnnotationsDialog"
                         allow-graph-display="true">
                    </div>
                </div>
                <div class="linkedResources" ng-show="$root.keys(displayedAnnotationResources).length > 0">
                    <div class="annotResContainer" ng-repeat="(hash, ann) in displayedAnnotationResources">
                        <div resource-display class="annotResViewer" ng-res="ann" close-viewer-fn="closeAnnotationResource">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </row></div>
</cell>