<cell>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Username</label>
        <div class="col-sm-10"><input ng-model="currentUser.principal.user.username" class="form-control"/></div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Profiles</label>
        <div class="col-sm-10">
            <div class="form-group row" ng-repeat="provider in currentUser.principal.user.providerProfiles">
                <label class="col-sm-2 col-form-label">{{provider.provider}}</label>
                <div class="col-sm-10"><input ng-model="provider.id" class="form-control"/></div>
            </div>
        </div>
    </div>
</cell>