<cell mosaics mosaic mosaic-var="selected">
    <div style="display: table; height: 100%"><row>
    <div class="slidein panel left">
        <h3 class="header_padder"><!-- vertical padding--></h3>
        <div style="position: absolute">
            <div id="mosaicList" class="subpanel">
                <ul class="nav nav-tabs panel_header">
                    <li><h5 style="margin-top: 9px;margin-bottom: 0px;margin-right: 3px">Mosaics</h5></li>
                    <li role="presentation" ui-sref-active="active" ui-sref="mosaics.query({query: 'mine'})"><a >Mine</a></li>
                    <li role="presentation" ui-sref-active="active" ui-sref="mosaics.all"><a >All</a></li>
                    <li style="float: right"><span title="Create a Mosaic" class="action btn glyphicon glyphicon-plus" style="float: right" ng-click="createMosaic()"></span></li>
                </ul>
                <div class="panel_content" >
                    <div ng-repeat="mosaic in mosaics">
                        <!-- <span  ng-click="select(mosaic)" ng-style="{ 'font-weight': isSelected(mosaic) ? 'bold' : '' }">{{mosaic["dc:title"] || mosaic["id"]}}</span> -->
                        <span class="link" ui-sref="mosaics.id(mosaic)" ui-sref-active="active">{{mosaic["dc:title"] || mosaic["id"]}}</span>
                        <span class="action glyphicon glyphicon-trash" ng-show="hasPermission('delete', mosaic)" ng-click="deleteMosaic(mosaic)" ng-confirm-click="Are you sure you want to delete mosaic?"></span>
                    </div>
                </div>
            </div>
            <div id="resourceList" ng-if="selected" class="subpanel">
                <div class="panel_header">
                    <div title="Add a ressource" style="float: right">
                        <span class="action glyphicon glyphicon-plus" ng-click="createResource(selected)"></span>
                    </div>
                    <h5>Resources</h5>
                </div>
                <div class="panel_content" >
                    <div ng-repeat="res in selected.resources">
                        <div>
                            <span class="action glyphicon glyphicon-edit" ng-show="hasPermission('write', selected)" ng-click="editResourceModal(res)"></span>
                            <span class="action glyphicon glyphicon-trash" ng-show="hasPermission('write', selected)" ng-click="deleteResource(selected, res)" ng-confirm-click="Are you sure you want to delete resource?"></span>
                            <span class="link" ui-sref="mosaics.id.resource({id:selected.id, res:res.id})" ui-sref-active="active">{{res['dc:title']}}</span>
                        </div>
                        <div ng-if="selectedRes == res" class="annotList" ng-repeat="annot in annotationsFromMap[res['source']]">
                            <span class="glyphicon" ng-class="annot.body && annot.body.source ? 'glyphicon-log-out' : 'glyphicon-comment' "/>
                            <span ng-click="gotoAnnotation(annot)" ng-mouseover="highlightAnnotation(annot, true)" ng-mouseleave="highlightAnnotation(annot, false)">{{annot['dc:title']}}</span>
                            <span class="action glyphicon glyphicon-trash" ng-show="hasPermission('write', selected)" ng-click="deleteAnnotationFromMosaic(selected, annot)" ng-confirm-click="Are you sure you want to delete annotation?"></span>
                        </div>
                        <div ng-if="selectedRes == res" class="annotList" ng-repeat="annot in annotationsToMap[res['source']]">
                            <span class="glyphicon glyphicon-log-in"/>
                            <span ng-click="gotoAnnotation(annot)" ng-mouseover="highlightAnnotation(annot, true)" ng-mouseleave="highlightAnnotation(annot, false)">{{annot['dc:title']}}</span>
                            <span class="action glyphicon glyphicon-trash" ng-show="hasPermission('write', selected)" ng-click="deleteAnnotationFromMosaic(selected, annot)" ng-confirm-click="Are you sure you want to delete annotation?"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div id="annotationsList" ng-if="selectedRes" class="subpanel" ng-init="displayFrom = true">
                <div class="panel_header">
                    <h5>Annotations
                        <span style="float:right" class="action glyphicon glyphicon-cog" ng-click="editAnnotationFilterModal()"></span>
                    </h5>
                </div>
                <div class="panel_content" >
                    <div ng-repeat="annot in (displayFrom?annotationsFromMap:annotationsToMap)[selectedRes['source']]">
                        <span ng-click="gotoAnnotation(annot)">{{annot['dc:title']}}</span>
                        <span class="action glyphicon glyphicon-trash" ng-click="deleteResource(res)"></span>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="panel">
    <div ng-show="selected" style="padding: 0px 10px" ng-init="layout = 'right'" ng-class="'layout-'+layout">
        <h3>
            <span editable ng-model="selected['dc:title']"></span>
            <span ng-if="selectedRes">
                / <span editable ng-model="selectedRes['dc:title']"></span>
            </span>
            <div class="mosaic-action-bar">
                <div class="btn-group">
                    <span class="action dropdown-toggle" ng-class="{i_right_panel: layout == 'right', i_layout_design: layout == 'bottom', i_four_grid: layout == 'grid'}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </span>
                    <div class="dropdown-menu" style="font-size: inherit; min-width: 0; position: absolute; z-index: 1000; border: none; padding: 2px; left: -2px">
                        <div class="action i_right_panel dropdown-item" ng-click="layout = 'right'"></div>
                        <div class="action i_layout_design dropdown-item" ng-click="layout = 'bottom'"></div>
                        <div class="action i_four_grid dropdown-item" ng-click="layout = 'grid'"></div>
                    </div>
                </div>
                <span ng-if="selectedRes">
                    <a title="Open original resource" class="action glyphicon glyphicon-share" ng-href="selectedRes['source']"></a> |
                </span>
                <span title="Edit mosaic" class="action glyphicon glyphicon-edit" ng-show="hasPermission('write', getMosaic())" ng-click="editMosaicModal(getMosaic())"></span>
                <span title="Edit JSON" class="action glyphicon glyphicon-json" ng-click="toggleEdit()"></span>
                <span ng-show="hasPermission('write', selected) && selected.$dirty" class="action glyphicon glyphicon-floppy-save" ng-click="saveMosaic(selected)"></span>
            </div>
        </h3>
        <div class="flipContainer" ng-class="{showBack: editMode}">
            <div class="flipper">
                <div class="mosaicEditor back">
                    <div class="alert alert-warning" style="margin-bottom: 1px;" ng-show="!hasPermission('write', getMosaic())">You do not have write permissions on this document. You can edit its JSON for test purposes, but won't be be able to save changes.</div>
                    <ui-codemirror id="mosaicEditor" ui-codemirror-opts="editorOptions" ng-model="jsonMosaic"></ui-codemirror>
                </div>
                <div class="mosaicDisplay front" mosaic-display ng-res="selectedRes" annotations-from-map="annotationsFromMap" annotations-to-map="annotationsToMap" filtered-annotations="filteredAnnotations" filter-annotations-dialog="editAnnotationFilterModal">
                    <div class="mainResource">
                        <div resource-display class="mainResViewer"
                             ng-res="displayedResource"
                             mosaic-display-ctrl="mosaicDisplayCtrl"
                             annotations-from-map="annotationsFromMap"
                             annotations-to-map="annotationsToMap"
                             annotation-renderer="annotationRenderer"
                             capture-fragment-fn="captureFragmentFn"
                             allow-graph-display="true">
                        </div>
                    </div>
                    <div class="linkedResources" ng-show="$root.keys(displayedAnnotationResources).length > 0">
                        <div class="annotResContainer" ng-repeat="(hash, ann) in displayedAnnotationResources">
                            <div resource-display class="annotResViewer"
                                 ng-res="ann"
                                 annotations-from-map="annotationsFromMap"
                                 annotations-to-map="annotationsToMap"
                                 close-viewer-fn="closeAnnotationResource"
                                 allow-graph-display="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    </row></div>
</cell>