<div style="position: relative">
    <div class="spinner"
         style="position: absolute;right: 3em;top: 1.5em; display: none">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
    </div>
    <input class="dropdownInput form-control" ng-model="modelAttr[displayField]" placeholder="Enter URL or search terms" type="text"/>
</div>
