<cell class="col-md-2"/>
<cell class="col-md-8">

    <form>
        <input style="width: 100%; margin: 3em 0" id="search_text"
               ng-model="searchForm.text"
               ng-enter="submitSearch()"
               ng-model-options="{debounce: 400}"
               placeholder="Enter URL or search terms">
    </form>
    <div ng-if="!searchForm.text">

        <div class="search_results recent"
             style="display: inline-block; vertical-align: top; margin-right: 3em;"
             ng-if="currentUserHasRole('user')">
            <h4>My Recent Mosaics</h4>
            <span ng-if="myRecentMosaics.length == 0" style="color: #303030"><i>You have created no mosaics yet.</i></span>
            <div ng-repeat="moz in myRecentMosaics">
                <a ui-sref="mosaics.id(moz)">{{moz['dc:title']}}</a> ({{moz['annotations'].length}})
            </div>
        </div>

        <div class="search_results recent" style="display: inline-block">
            <h4>Recent Mosaics</h4>
            <div ng-repeat="moz in recentMosaics">
                <a ui-sref="mosaics.id(moz)">{{moz['dc:title']}}</a> ({{moz['annotations'].length}})
            </div>
        </div>

        <div class="search_results annotation recent" >
            <h4>Recent Annotations</h4>
            <div style="display: table">
                <annotation-search-result ng-repeat="ann in recentAnnotations" ann="ann"></annotation-search-result>
            </div>
        </div>
    </div>

    <div class="search_results mosaics" ng-if="searchForm.text">
        <h4>Matching Mosaics</h4>
        <div ng-repeat="moz in matchingMosaics">
            <a ui-sref="mosaics.id({id:moz.id})">{{moz['dc:title']}}</a> ({{moz['annotations'].length}})
        </div>
    </div>

    <div class="search_results resources" ng-if="searchForm.text">
        <h4>Matching Resources</h4>
        <div ng-repeat="res in matchingResources">
            <a ui-sref="mosaics.id.resource({id:res['moz:inMosaic'],res:res.id})">{{res['dc:title']}}</a>
        </div>
    </div>

    <div class="search_results annotation" ng-if="searchForm.text">
        <h4>Matching Annotations</h4>
        <div style="display: table">
            <annotation-search-result ng-repeat="ann in matchingAnnotations" ann="ann"></annotation-search-result>
        </div>
    </div>

</cell>
<cell class="col-md-2"/>