<div >

    <div style="position:relative">
        <div style="float:right; margin-right:1em; margin-top: 1em">
            <div class="btn-group" style="margin-bottom: 10px; width: 100%">
                <button type="button" class="btn btn-primary">Sample queries</button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" style="right: 0; left: inherit">
                    <li ng-repeat="(label,url) in sampleQueries"><a ng-click="loadQuery(url)">{{label}}</a></li>
                </ul>
            </div><br/>
            <button class="btn btn-primary" style="margin-bottom: 10px; width: 100%" ng-click="sendQuery()">query</button><br/>
            <button class="btn btn-primary" style="margin-bottom: 10px; width: 100%" ng-click="sendDelete()" ng-if="hasPermission('admin')">delete</button><br/>
            <button class="btn btn-primary" style="margin-bottom: 10px; width: 100%" ng-click="sendPut()" ng-if="hasPermission('admin')">put</button>
        </div>

        <ui-codemirror id="sparqlEditor" ui-codemirror-opts="editorOptions" ng-model="query"></ui-codemirror>
    </div>

    <div style="position:relative">
        <div class="btn-group" style="position:absolute; right:1em; top: 1em; z-index: 3">
            <label class="btn btn-primary" ng-model="format" uib-btn-radio="'rdf'">RDF</label>
            <label class="btn btn-primary" ng-model="format" uib-btn-radio="'ttl'">Turtle</label>
            <label class="btn btn-primary" ng-model="format" uib-btn-radio="'jsonld'">JSON-LD</label>
        </div>
        <ui-codemirror id="resultEditor" ui-codemirror-opts="editorOptions" ng-model="result"></ui-codemirror>
    </div>
</div>
