<div class="panel">
    <span class="glyphicons glyphicons-edit" ng-click="toggleEdit()">EDIT</span>

    <div class="flipContainer" ng-class="{showBack: editMode}">
        <div class="flipper">
            <div class="mosaicEditor back">
                <ui-codemirror id="mosaicEditor" ui-codemirror-opts="editorOptions" ng-model="jsonMosaic"></ui-codemirror>
            </div>
            <div class="mosaicDisplay front" ng-controller="MosaicDisplayCtrl as mozDisplayCtrl">
                <button class="glyphicons glyphicons-edit" ng-click="captureSelection()">ADD</button> {{capturedFragment}}
                <div style="height: 600px; position:relative">
                    <div id="theContainer" style="height: 100%"></div>
                </div>
                <div style="position: absolute; top: 0; width: 200px; right: 0;">
                    <div  class="annotResContainer" ng-repeat="(hash, ann) in displayedAnnotationResources">
                        <div class="annotResViewer" ng-init="displayedResource = ann" ng-controller="ResourceDisplayCtrl as resDisplayCtrl">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>